pandas==2.1.1
scikit-learn==1.3.1
torch==2.1.0
git+https://github.com/huggingface/transformers.git@51042ae8e5df8275d16b3eaff36c20fb9c191655
git+https://github.com/huggingface/peft.git@15a013af5ff5660b9377af24d3eee358213d72d4
bitsandbytes==0.41.1
datasets==2.14.5
nltk==3.8.1
ipywidgets==8.1.1
rouge-score==0.1.2
matplotlib==3.8.0
seaborn==0.12.0
beautifulsoup4==4.12.2
uvicorn==0.23.2